n8n-read-sheet-workflow.json
{
  "name": "📋 Ecom — Lecture Google Sheets (tous onglets)",
  "nodes": [
    {
      "id": "r01",
      "name": "🌐 Webhook — Lire Sheet",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 300],
      "parameters": {
        "httpMethod": "GET",
        "path": "ecom-read-sheet",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      }
    },
    {
      "id": "r02",
      "name": "📥 Sheets API — Récupérer tous les onglets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 300],
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1VuCEQNndw97UpZm6Dq19Axxne1Rs8-ZaG2Z0SZdXbIw",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "includeGridData", "value": "true" },
            { "name": "fields",         "value": "sheets(properties,data.rowData.values.formattedValue)" }
          ]
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "r03",
      "name": "📦 Parser — Extraire toutes les lignes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 300],
      "parameters": {
        "jsCode": "// Onglets système à exclure (gid=0 : objectifs revenue, gid=4832360 : process template)\nconst EXCLUDE_GIDS = [0, 4832360];\n\nconst spreadsheet = items[0].json;\nconst sheets = spreadsheet.sheets || [];\nconst rows = [];\n\nsheets.forEach(sheet => {\n  const props = sheet.properties || {};\n  // Exclure les onglets système\n  if (EXCLUDE_GIDS.includes(props.sheetId)) return;\n\n  const topic = props.title || '';\n  const grid  = sheet.data?.[0];\n  if (!grid || !grid.rowData || grid.rowData.length < 2) return;\n\n  // 1ère ligne = en-têtes\n  const headers = (grid.rowData[0]?.values || []).map(v => v.formattedValue || '');\n  if (!headers.some(Boolean)) return;\n\n  // Lignes de données (à partir de la 2ème)\n  for (let i = 1; i < grid.rowData.length; i++) {\n    const vals = (grid.rowData[i]?.values || []).map(v => v.formattedValue || '');\n    if (!vals.some(Boolean)) continue; // ignorer les lignes vides\n\n    const row = { _topic: topic };\n    headers.forEach((h, j) => { if (h) row[h] = vals[j] || ''; });\n    rows.push(row);\n  }\n});\n\nreturn [{ json: { success: true, count: rows.length, rows } }];"
      }
    },
    {
      "id": "r04",
      "name": "📤 Répondre au Site",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [840, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type",                "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*"                }
            ]
          }
        }
      }
    },
    {
      "id": "r05",
      "name": "📌 Instructions de configuration",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 60],
      "parameters": {
        "content": "## 📋 Ecom — Lecture Google Sheets\n\n**Spreadsheet ID (déjà configuré) :**\n`1VuCEQNndw97UpZm6Dq19Axxne1Rs8-ZaG2Z0SZdXbIw`\n\n**Onglets exclus (système) :**\n- gid 0 → objectifs revenue\n- gid 4832360 → process template\n\n**À configurer :**\n1. Nœud \"Sheets API\" → sélectionner vos credentials Google\n2. Activer le workflow\n3. Copier l'URL du webhook dans config.js :\n   `n8nReadSheetUrl: 'https://TON_N8N/webhook/ecom-read-sheet'`\n\n**Colonnes reconnues par le site :**\nmain_keyword, trend_5y, trend_12m, trend_90d,\ncompetitor_1..5, competitor_1_best..5_best,\nanalysed_at, decision, notes\n\n**Le champ `_topic` est automatiquement ajouté**\n= nom de l'onglet (ex: \"yoga\", \"outdoor furniture\")",
        "height": 360,
        "width": 380,
        "color": 3
      }
    }
  ],
  "connections": {
    "🌐 Webhook — Lire Sheet":               { "main": [[{ "node": "📥 Sheets API — Récupérer tous les onglets", "type": "main", "index": 0 }]] },
    "📥 Sheets API — Récupérer tous les onglets": { "main": [[{ "node": "📦 Parser — Extraire toutes les lignes",      "type": "main", "index": 0 }]] },
    "📦 Parser — Extraire toutes les lignes":     { "main": [[{ "node": "📤 Répondre au Site",                        "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "ecom-read-sheet-workflow" }
}
